{% extends 'base.html' %}

{%  block content %}

     <img src="/static/images/Logo.jpg"/>

    <br />

        {% if polles %}
        <table border="0" style="width:700px;height:300px">
                {% for Poll in polles %}
                <tr>
                <td class="btn btn-info btn-lg btn-block btn-huge" onclick="window.location.href='{{ Poll.id }}/vote/'" style="cursor:pointer">


                    <center>

                       <b> {{ Poll.question }}


<br /><br />
                           <b>Postęp ankiety:</b>
                           <br />

    <div class="col-sm-12">
    <div class="progress progress-striped">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ Poll.timespent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ Poll.timespent }}%">
    <span class="sr-only"> 60% Complete (warning)</span>
  </div>
</div>
  </div>
</div>

    </div>



                       </b>
                    </font>
                    </center>

                </tr><br /><tr>
                </td>
                {% if forloop.counter|divisibleby:2 %}

                    </tr><br /><tr>
                {% endif %}
                </tr>
                {% endfor %}
         </table>
        {% else %}
            <strong>Brak wyborów w bazie danych.</strong>
        {% endif %}


{% endblock %}