{% extends 'base.html' %}

{%  block content %}
{#     <div class="row">#}
{#        <div class="col-sm-6 col-sm-offset-7">#}
{##}
{#        <h1>Sign up</h1>#}
{#        <form method='POST' action=''> {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type='submit' class='btn btn-primary btn-lg'>#}
{#        </form>#}
{##}
{#        </div>#}

{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "result" %}'>Rezultaty</a>#}
{#    <div></div>#}
{##}
{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "register" %}'>Rejestracja</a>#}
{#    <div></div>#}
{##}
{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "user_login" %}'>Zaloguj</a>#}
{#    <div></div>#}

{#</div>#}

     <img src="/static/images/Logo.jpg"/>

          {% if Poll %}
        <ul>
        {% for Poll in Poll %}
          <li>{{ Poll.question }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

    <div class="col-sm-6 col-sm-offset-1">
        <a class='btn btn-primary btn-lg' href='{% url "voting" %}'>Głosuj</a>
    <div></div>


{% endblock %}