{% extends 'base.html' %}

{%  block content %}
{#     <div class="row">#}
{#        <div class="col-sm-6 col-sm-offset-7">#}
{##}
{#        <h1>Sign up</h1>#}
{#        <form method='POST' action=''> {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            <input type='submit' class='btn btn-primary btn-lg'>#}
{#        </form>#}
{##}
{#        </div>#}

{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "result" %}'>Rezultaty</a>#}
{#    <div></div>#}
{##}
{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "register" %}'>Rejestracja</a>#}
{#    <div></div>#}
{##}
{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "user_login" %}'>Zaloguj</a>#}
{#    <div></div>#}

{#</div>#}
{#jest#}

{#{% len(polles)*300 %}#}
     <img src="/static/images/Logo.jpg"/>

    <br />

        {% if polles %}
        <table border="0" style="width:700px;height:300px">
                {% for Poll in polles %}
                <tr>
                <td class="btn btn-info btn-lg btn-block btn-huge" onclick="window.location.href='{{ Poll.id }}/vote/'" style="cursor:pointer">


                    <center>

                       <b> {{ Poll.question }}
<br /><br />
    <div class="col-sm-12">
    <div class="progress progress-striped">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
</div>
  </div>
</div>

    </div>



                       </b>
                    </font>
                    </center>

                </tr><br /><tr>
                </td>
                {% if forloop.counter|divisibleby:2 %}

                    </tr><br /><tr>
                {% endif %}
                </tr>
                {% endfor %}
         </table>
        {% else %}
            <strong>Brak wyborów w bazie danych.</strong>
        {% endif %}


{% endblock %}