{% extends 'base.html' %}

{%  block content %}
<div class="row">
   {% if messages %}
    <div class="col-sm-6 col-sm-offset-3">

            {% for message in messages %}
                <p{% if message.tags == "error" %}    class="alert alert-danger"
                  {% elif message.tags == "success"%} class="alert alert-success"
                  {% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
   {% endif %}
</div>

    <div class="col-sm-6 col-sm-offset-5">
        <a class='btn btn-primary btn-lg' href='{{ id_poll }}/result/'>Wyniki</a>
    <div></div>
{% endblock %}