{% extends 'base.html' %}

{%  block content %}


{% if messages %}

    <div class="col-sm-6 col-sm-offset-3">

            {% for message in messages %}
                <p{% if message.tags == "error" %}    class="alert alert-danger"
                    {% endif %}>{{ message }}</p>
     {% endfor %}

    <div class="col-sm-6 col-sm-offset-2">
        <a class='btn btn-primary btn-lg' href='{% url "home" %}'>Strona główna</a>
    <div></div>

{% else %}

<div class="alert alert-success">
  <p>Pytanie</p>
</div>

    {% if poll %}

<h1>{{ poll.question }}</h1>

    {% else %}
        <strong>There is no selected poll.</strong>
    {% endif %}

<form action="/vote/" method="post">{% csrf_token %}
{% for Answer in answers %}
    {% if poll.type > 3 %}
    <input type="checkbox" name="Answer" id="choice{{ forloop.counter }}" value={{ Answer.id }}/>
    {% else %}
    <input type="radio" name="Answer" id="choice{{ forloop.counter }}" value={{ Answer.id }}/>
    {% endif %}

    <label for="choice{{ forloop.counter }}">{{ Answer.last_name }} {{ Answer.first_name }}</label><br />
{% endfor %}
<div class="col-sm-6 col-sm-offset-5">
    <input class='btn btn-primary btn-lg' type="submit" value="Głosuj" />
<div></div>
</form>
{% endif %}


{% endblock %}
