{% extends 'base.html' %}

{%  block content %}






{#    <h1>Opcje: </h1>#}
{#    {% if answers %}#}
{#        {% for Answer in answers %}#}
{#            <div class="checkbox">#}
{#                <label>#}
{#                  <input type="checkbox"> {{ Answer.first_name}} {{ Answer.last_name}}#}
{#                </label>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        <strong>There are no answers present.</strong>#}
{#    {% endif %}#}
{##}
{#    <div class="col-sm-6 col-sm-offset-1">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "thankyou" %}'>Zatwierdź głos?</a>#}
{#    <div></div>#}

<h1>{{ poll.question }}</h1>

{% if messages %}

    <div class="col-sm-6 col-sm-offset-3">

            {% for message in messages %}
                <p{% if message.tags == "error" %}    class="alert alert-danger"
                    {% endif %}>{{ message }}</p>
     {% endfor %}

    <div class="col-sm-6 col-sm-offset-2">
        <a class='btn btn-primary btn-lg' href='{% url "home" %}'>Strona główna</a>
    <div></div>

{% else %}

<div class="alert alert-success">
  <p>Pytanie</p>
</div>

    {% if poll %}

        {{ poll }}

    {% else %}
        <strong>There is no selected poll.</strong>
    {% endif %}

<form action="/vote/" method="post">{% csrf_token %}
{% for Answer in answers %}
    <input type="radio" name="Answer"
        id="choice{{ forloop.counter }}"
        value={{ Answer.id }}
    />
    <label for="choice{{ forloop.counter }}">{{ Answer.last_name }} {{ Answer.first_name }}</label><br />
{% endfor %}
<div class="col-sm-6 col-sm-offset-5">
    <input class='btn btn-primary btn-lg' type="submit" value="Głosuj" />
<div></div>
</form>
{% endif %}


{% endblock %}

{#{% extends 'base.html' %}#}
{##}
{#{%  block content %}#}
{##}
{##}
{#    {% if poll %}#}
{#        <blockquote>#}
{#            {{ poll }}#}
{#        </blockquote>#}
{#    {% else %}#}
{#        <strong>There is no selected poll.</strong>#}
{#    {% endif %}#}
{##}
{##}
{#    <h3>Kandydaci </h3>#}
{#    {% if answers %}#}
{#        {% for Answer in answers %}#}
{#            <div class="checkbox">#}
{#                <label>#}
{#                  <input type="checkbox"> {{ Answer.first_name}} {{ Answer.last_name}}#}
{#                </label>#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        <strong>There are no answers present.</strong>#}
{#    {% endif %}#}
{##}
{#    <div class="col-sm-6 col-sm-offset-4">#}
{#        <a class='btn btn-primary btn-lg' href='{% url "thankyou" %}'>Zatwierdź głos</a>#}
{#    <div></div>#}



