{% extends 'base.html' %}

{%  block content %}



<div class="alert alert-success">
  <p>Pytanie</p>
</div>

    {% if poll %}

        {{ poll }}

    {% else %}
        <strong>There is no selected poll.</strong>
    {% endif %}


    <h1>Opcje: </h1>
    {% if answers %}
        {% for Answer in answers %}
            <div class="checkbox">
                <label>
                  <input type="checkbox"> {{ Answer.first_name}} {{ Answer.last_name}}
                </label>
            </div>
        {% endfor %}
    {% else %}
        <strong>There are no answers present.</strong>
    {% endif %}

    <div class="col-sm-6 col-sm-offset-1">
        <a class='btn btn-primary btn-lg' href='{% url "thankyou" %}'>Zatwierdź głos?</a>
    <div></div>




{% endblock %}